body{
    background-color: lightgray;
    text-align: center;
 
}
.containerI{
    background-image: url("../images/nature1.jpeg");
    height: 600px;
}
.form-group{
    
    font-size: 30px;
    max-width: 80%;
}
#location{
    font-size: 22px;
}
#pSearch{
    font-size: 22px;
}

/**** Beginning of CSS for the Attractions Page ****/
.input-group {
    margin-top: 2%;
}

.attraction-text {
    margin: 2% 10% 0% 10%;
    border: solid 2px darkgray;
    background-color: white;
}

.attr-head {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 400%;
}

.find-attr {
    margin-top: 5%;
}

.p-attr {
    padding: 1% 4% 0% 4%;
}

.card-group {
    margin-top: 2%;
}

.card-img-top {
    padding: 1%;
}

/**** End of CSS for the Attractions Page ****/

/**** Beginning of CSS for the Crime Page ****/
#crimeHeader{
    color: darkgray;
    font-size: 400%;
    margin-top: -50px;
}

.find-crime {
    margin-top: 5%;
}

.crime-text {
    margin: 2% 10% 0% 10%;
    border: solid 2px darkgray;
    background-color: white;
}

#crimeSearch{
    font-size: 22px;
}
/**** End of CSS for the Crime Page ****/

/*** Beg. Testimonail Page ***/
.form-group {
    background-color: darkgray;
    color: brown;
}

.Form-Label {
    padding-left: 2%;
}

.testimonial-para {
    background-color: brown;
    color: white;
    font-size: 150%;
    padding: 2%;
    margin-bottom: 5%;
}

.testimonial-button {
    margin-bottom: 5%;
}

.card-header {
    background-color: brown;
}

/*** End Testimonail Page ***/
