/**** Beginning of all pages CSS ****/
body{
    background-color: #d3d3d3;
    text-align: center; 
}
.containerI{
    background-image: url("../images/nature1.jpeg");
    height: 600px;
}
.form-group{
    
    font-size: 30px;
    max-width: 80%;
}
#location{
    font-size: 22px;
}
#pSearch{
    font-size: 22px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #a52a2a !important;
    border-color: #a52a2a !important;
}
/**** End of all pages CSS ****/

/**** Beginning of CSS for the Attractions Page ****/
.input-group {
    margin-top: 2%;
}

.attraction-text {

    border: solid 2px #808080;
    background-color: #ffffff; 
    margin: 2% 10% 0% 10%;
    border: solid 2px #808080;
    background-color: #ffffff;
}

.attr-head {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 400%;
}

.find-attr {
    margin-top: 5%;
}

.p-attr {
    padding: 1% 4% 0% 4%;
}

.card-group {
    margin-top: 2%;
}

.card-img-top {
    padding: 1%;
}

.searchForm-container {
    margin-top: 2%;
}

.searchForm {
    margin-top: 1%;
}

.resultItem {
    text-align: left;
    color: #a52a2a;
    border: solid 1px #000000;
    padding: 2%;
    margin-top: 2%;
    font-weight: 500;
}

a {
   color: #000000;
}

.footer {
    margin-top: 5%;
}
/**** End of CSS for the Attractions Page ****/

/**** Beginning of CSS for the Crime Page ****/
#crimeHeader{
    color: #808080;
    font-size: 400%;
    margin-top: -50px;
}

#crimeImage{
    max-height: auto;
    max-width: 125px;
}

.find-crime {
    margin-top: 5%;
}

.crime-text {
    margin: 2% 10% 0% 10%;
    border: solid 2px #808080;
    background-color:#ffffff;
}

#crimeSearch{
    font-size: 22px;
}

#showCrimeData{
    background-color: #a52a2a;
    border: solid 2px #808080;
    color: #ffffff;
    margin: auto;
    margin-top: 20px;
    max-width: 60%;
    text-align: center;
}

/**** End of CSS for the Crime Page ****/

/*** Beginning of CSS for the Testimonial Page ***/
.form-group {
    background-color: #808080;
    color: #a52a2a;
}

.Form-Label {
    padding-left: 2%;
}

.testimonial-para {
    background-color: #a52a2a;
    color: #ffffff;
    font-size: 150%;
    padding: 2%;
    margin-bottom: 5%;
}

.testimonial-button {
    margin-bottom: 5%;
}

.card-header {
    background-color: #a52a2a;
}
/*** End of CSS for the Testimonial Page ***/
